.header {
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 24px;
}

.footer__contact-img {
    background-color: var(--primary-color);
    width: 100px;
}

.header__navbar-list {
    display: flex;
    justify-content: space-around;
}

.header__navbar-item {
    list-style: none;
    padding-right: 36px;
    font-size: 1.8rem;
}

.header__navbar-item-link {
    text-decoration: none;
    color: var(--text-color);
}

.header__navbar-about,
.header__navbar-shop {
    position: absolute;
    color: var(--text-color);
    list-style: none;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: none;
}

.header__navbar-about-item,
.header__navbar-shop-item {
    padding: 12px;
    color: #888;
}

.header__navbar-icon {
    color: var(--text-color);
}

.header__icon {
    color: var(--text-color);
    display: flex;
    margin: 0 24px;
    font-size: 2.4rem;
}

.header__icon-search {
    margin: 0 36px;
}

.icon-search {}

.header__icon-cart {}

.icon-cart {}

/* container */

/* .container {
    padding-top: 40px;
    height: 1000px;
} */


/* Footer */
.footer {
    height: 220px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 24px;
    color: var(--text-color);

}

.footer__contact {}

.footer__contact-copy {
    display: flex;
    flex-direction: column;
}

.footer__contact-img {
    width: 200px;
}

.copyright {
    font-size: 1.6rem;
    padding: 24px 50px;
}

.footer__contact-icon {
    font-size: 2.4rem;
}

.footer__contact-list {
    display: flex;
    padding: 0;
}

.footer__contact-item {
    list-style: none;
    padding-right: 20px;
}

.footer__contact-link {
    text-decoration: none;
    background-color: var(--text-color);
    padding: 6px 10px;
    border-radius: 50%;
    color: var(--primary-color);
}

.icon-facebook {
    padding: 0 3px;
}

.icon-pinterest {
    padding: 0 1px;
}

.footer__company {}

.footer__title {
    font-size: 2rem;
    margin: 0;
}

.footer__content {}

.footer__content-list {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}


.footer__content-sub {
    padding: 4px 0;
}

.footer__content-sub span {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.footer__content-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.footer__sign-up {
    /* margin-left: -40px; */
}

.footer__sign-up-btn {
    display: flex;
    margin-top: 20px;
    max-width: 100%;
    justify-content: space-between;

}

.footer__sign-up-input {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    flex: 1;
    padding: 8px;
    outline: none;
}

.footer__sign-up-input::placeholder {
    color: var(--text-color);
    font-size: 1.6rem;
}

.footer__sign-up-sendletter {
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: var(--text-color);

}

.footer__sign-up-btn i {
    font-size: 2rem;
    color: var(--primary-color);
}

.end-of-page {
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.end-of-page__favourite {
    background-color: var(--primary-color);
    width: 50px;
    padding: 8px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    left: 30px;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.1);

}

.end-of-page__sale {
    background-color: var(--text-color);
    width: 120px;
    height: 40px;
    font-size: 2rem;
    border: none;
    position: fixed;
    bottom: 0;
    right: 30px;
    line-height: 40px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}